@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 80%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
body{
    background-color: rgb(31,31,31);
}
header{
    width: 100%;
    height: 100px;
}
.head{
    width: 80%;
    margin-left: 10%;
}
.logo_img{
    width: 49%;
    display: inline-block;
    padding: 40px 0;
}
.menu{
    width: 50%;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}
nav a{
    text-align: right;
    color: white;
    margin: 0 0 0 43px;
    padding: 14px 0;
    letter-spacing: 2px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 11px;
}
nav a:hover{
    border-bottom: 3px solid;
    border-bottom-color:rgb(143,208,166);
}
.hrline{
    width: 80%;
    height: 0.34px;
    background-color: rgb(71, 66, 66);
    margin-left: 10%;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.name-container{
    margin: 30px 0 30px 0;
}
.btn{
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color:transparent;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color:rgb(143,208,166);
}
.btn.active {
    background-color:rgb(143,208,166);
    color: white;
}
.column {
    float: left;
    width: 25%;
    display: none; /* Hiding all elements by default */
}
/* Clear floats after rows */ 
.img-row:after{
    content: "";
    display: table;
    clear: both;
  }
.content img{
   width: 100%;
   height: 150px;
}
.show{
    display: block;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
.foot{
    width: 80%;
    margin-left: 10%;
    color: white;
}
.f-flex-cont{
    display: flex;
}
.f1{
    width: 100%;
    margin-right: 40px;

}
.fti1 h3{
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 8px;
}
.fcont p{
    font-size: 10px;
    padding: 9px 0;
    color: rgba(250, 248, 248, 0.534);
    
}
.f2{
    width: 100%;
} 
.fti2 h3{
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: 8px;

}
.f2 .fcont a{
    color: rgba(250, 248, 248, 0.534);
    font-size: 10px;
    padding: 10px 8px 0 0;
    margin-right: 30px;

}
.f3{
    width: 100%;
}
.t1{
    background-color: rgb(143,208,166);
    padding: 8px 11px;
    color: white;
    font-size: 12px;
    margin: 10px 4px 0 0;
}
.t1.active{
    background-color: rgb(191,191,191);
}
.f4{
    width: 100%;
   
}
.fgal-flex{
    display: flex;
    flex-wrap: wrap;
}
.g1 img,.g2 img,.g3 img,.g4 img,.g4 img,.g5 img,.g6 img{
    width: 65px;
    height: 65px;
    margin:0 10px 10px 0;
}
.cpy-contact{
    float: left;
    width: 100%;
}
.cp{
    float: left;
    width: 50%;
    margin-top: 10px;
}
.cp p{
    font-size: 11px;
    color:rgba(250, 248, 248, 0.534);
}
.contact{
    float: right;
    color: white;
}
.contact a{
    color: white;
    font-size: 18px;
    padding: 0 4px;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}